* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  max-width: 95vw;
  margin: auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1.75rem;
}

.navbar {
  width: 100vw;
  background-color: #99ccff;
  margin-bottom: 1.5rem;
}

.navbar .logo a {
  color: #fff;
  font-size: 2rem;
}

.navbar .logo a > span {
  color: #333;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 2rem 1.5rem;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #162b4d;
}

.navbar ul a {
  color: #fff;
}

.navbar .menu-icon {
  display: none;
}

.section-1 {
  width: 100vw;
  height: 75vh;
  margin-bottom: 2rem;
  background: url(../img/section1.jpg) center center/cover;
  color: #fff;
}

.section-1-content {
  padding: 35vh 1rem 0 1.5rem;
}

.section-1-content .heading {
  font-weight: 300;
}

.section-1-content p {
  margin-top: 0.85rem;
  font-weight: 400;
}

.main-section {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-column-gap: 1.5rem;
  color: #484848;
}

.card:nth-child(odd) {
  display: flex;
}

.card:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.post-1 {
  background-color: #F3D250;
}
.post-2 {
  background-color: #8D8741;
}
.post-3 {
  background-color:#659DBD;
}
.post-4 {
  background-color: #DAAD86;
}

.card .card-img,
.card .card-info {
  flex: 1 0 50%;
}

.card .card-info {
  position: relative;
  padding: 0.85rem;
  display: flex;
  cursor: pointer;
}

.card .post-1:hover::after,
.card .post-2:hover::after,
.card .post-3:hover::after,
.card .post-4:hover::after {
  content: "";
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.post-1:hover::after {
  background-color: #F3D250;
}
.post-2:hover::after {
  background-color: #8D8741;
}
.post-3:hover::after {
  background-color:#659DBD;
}
.post-4:hover::after {
  background-color: #DAAD86;
}

.card:nth-child(even) .card-info {
  text-align: right;
  flex-direction: row-reverse;
  padding: 0.85rem 0.8rem 1rem 0;
}

.card .card-info .heading {
  line-height: 1.25;
  margin-bottom: 1rem;
}

.card .card-info .date {
  padding: 1rem 0 0 1.5rem;
  font-size: 3rem;
  font-weight: 100;
  line-height: 0.75;
}

.card:nth-child(even) .card-info .date {
  padding: 1rem 1.5rem 0 0.5rem;
}

.card .card-info .date .month {
  font-size: 2rem;
}

.news-card {
  border: 1px solid #333;
  margin-bottom: 2rem;
}

.news-card .news-info {
  padding: 2rem 2.5rem 3rem 2.25rem;
}

.news-card .news-info p {
  margin: 1rem 0 2rem 0;
}

.news-card .news-info .btn {
  padding: 0.5rem;
  color: #484848;
  border: 2px solid #484848;
}

.news-card .news-info .btn:hover {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.footer {
  margin-top: 3rem;
  background-color: #162b4d;
  font-weight: 100;
  color: #fff;
  line-height: 1.75;
}

.footer  {
  padding: 2rem 0 1rem 0;  
}

/* Tablet */
@media (max-width: 1279px) {
  .navbar .flex-row {
    flex-direction: column-reverse;
    padding: 1.5rem 0 2rem 0;
  }

  .navbar .menu {
    display: none;
  }
  
  .navbar .menu-icon {
    display: block;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  .section-1 {
    height: 65vh;
  }
  
  .section-1-content {
    padding: 25vh 1rem 0 1.5rem;
  }
  
  .section-1-content .heading {
    font-weight: 100;
    font-size: 2.5rem;
  }
  
  .section-1-content p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .card:nth-child(odd),  
  .card:nth-child(even) {
    flex-direction: column;
  }
  
  .card .card-info,
  .card:nth-child(even) .card-info {
    text-align: left;
    padding: 2rem 1.5rem;
    flex-direction: column;
  }
  
  .card .card-info .heading {
    font-size: 3rem;
  }
  
  .card .card-info .date {
    text-align: center;
  }
  
  .news-card .news-info {
    padding: 2rem 2rem 2.5rem 2rem;
  }

  .news-card .news-info .heading {
    font-size: 1.6rem;
  }
  
  .news-card .news-info p,
  .news-card .news-info .btn {
    font-size: 0.9rem;
  }
  
  .footer .flex-row {
    flex-direction: column;
    text-align: center;
  }

  .footer .flex-row div:first-child {
    margin-bottom: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .navbar .flex-row {
    width: 100vw;
    flex-direction: column-reverse;
    padding: 1.5rem 0 2rem 0;
  }
  .section-1 {
    height: 85vh;
  }
  
  .section-1-content {
    padding: 15vh 1rem 0 1.5rem;
  }
  
  .section-1-content .heading {
    font-weight: 100;
    font-size: 2.5rem;
  }
  
  .section-1-content p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .main-section {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }
  
  .card .card-info .heading {
    font-size: 2.7rem;
  }
  
  .card .card-info .date {
    font-size: 2.5rem;
  }

  .news-card .news-info .heading {
    font-size: 1.8rem;
  }

  .news-card .news-info .btn {
    font-size: 0.75rem;
  }

  .footer {
    margin-top: 1.5rem;
  }

  .footer p {
    padding: 0 2rem;
  }
}