body {
  padding: 0;
  margin: 0 0 5vh;
  box-sizing: border-box;
  color: #333;
}

.calendar-header {
  margin-bottom: 2.5rem;
  background: #333;
  color: #fff;
}

.calendar-header h1 {
  text-align: center;
  padding: 1.5rem 0;
}

.calendar {
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px;
  text-align: center;
}

.day-name {
  font-weight: bold;
  margin-bottom: .5rem;
}

.day {
  padding: 2.85rem;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.day--disabled {
  background: #fff;
  border: 1px solid #e6e6e6;
}