* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-style: italic;
  color: #808080;
  line-height: 1.75;
}

img {
  width: 100%;
  height: 100%;
}

.my-3 {
  margin: 3rem 0;
}

.little-heading {
  margin-bottom: 0.5rem;
  color: #111;
  font-weight: normal;
  font-size: 1.5rem;
}

.main-heading {
  color: #0b013c;
  font-size: 2.75rem;
}

.divider {
  margin: 1.5rem 0;
  width: 100px;
  height: 10px;
  background-color: #f8cb8a;
}

.divider-center {
  margin: 1.5rem auto;
}

.text-center {
  text-align: center;
}

.white-bg {
  padding: 2rem 1.5rem;
  background-color: #fff;  
}

header {
  height: 100vh;
  background: url(../img/header-bg.png) no-repeat center center/90% 100%, #0b013c;
}
.container {
  margin: auto;
  max-width: 1140px;
}

header .header-content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 410px;
  color: #fff;
}

header .logo-btn {
  padding: 5px 8px;
  margin-bottom: 20vh;
  display: inline-block;  
  font-size: 1.7rem;
  border: 2px solid #fff;
}

header .heading {
  font-size: 7rem;
}

header h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

header p {
  color: #fff;
}

header form .email {
  margin-right: 1rem;
  padding: 0.6rem;
  width: 300px;  
  font-weight: lighter;
  border: none;
  outline: none;
}

header form .submit {
  padding: 0.6rem 1.5rem;
  color: #111;
  background-color: #f8cb8a;
  border: none;
}

header form .submit:hover {
  background-color: #f6bb66;
}

main {
  background-color: #fefaf3;
}

section,
.section {
  padding: 4rem;
}

.p-section-1 {
  padding: 0 8rem;
}

.flex-section-1 {
  display: flex;
}

.flex-section-1 .flex-column-1 {
  flex: 1 0 65%;
}

.flex-section-1 .flex-column-2 {
  flex: 1 0 35%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-card-1 {
  margin-right: 5rem;
}

.stars-bg {
  background: url(../img/space-bg.png) no-repeat center center/cover, #0b013c;
}

.stars-bg .little-heading,
.stars-bg .main-heading,
.stars-bg p {
  color: #fff;
}

.stars-bg .little-heading {
  margin-bottom: 1rem;
}

.stars-bg p {
  padding: 0;
  font-size: 0.97rem;
  color: #fff;
}

.stars-bg .container {
  padding: 4rem 0;
  margin: auto;
  max-width: 811px;
}

footer {
  color: #fff;
  background: url(../img/footer-bg.jpeg) no-repeat center center/cover;
}

footer .main-heading {
  color: #fff;
}

footer address {
  margin-top: 1rem;
  font-style: normal;
  line-height: 1.75;
}

footer .container {
  padding: 6.5rem 0;
}

footer .mail-link:hover {
  text-decoration: underline;
}