* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #fff;
  line-height: 1.5; }

.landing-logo {
  display: inline-block;
  margin: 1.7vw 0; }
  .landing-logo p {
    float: right;
    padding: 0.2rem 0.75rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; }
    .landing-logo p span {
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      text-align: center; }

.header {
  background: url(../img/m-h-day.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: #2c2f3c;
  font-family: "Hind", sans-serif;
  border-radius: 0 0 45% 0 / 35%; }
  .header .header-wrap {
    width: 50vw;
    margin-left: 10vw; }
    .header .header-wrap .header_heading {
      margin: 9vh 0 7vh 0;
      font-size: 5vw;
      font-weight: 700;
      line-height: 1;
      position: relative;
      z-index: 2;
      font-family: "Source Sans Pro", sans-serif; }
      .header .header-wrap .header_heading::before {
        content: '';
        width: 21vw;
        height: 3.75vw;
        background: #14a0c7;
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: -0.2vw; }
    .header .header-wrap .header_text {
      white-space: pre-line;
      margin-bottom: 7vh;
      font-size: 1.1vw;
      letter-spacing: 0.5px; }
    .header .header-wrap div .header_button {
      border: none;
      padding: 0.8vw 3vw;
      font-size: 1.25vw;
      font-weight: 600;
      color: #fff;
      background-color: #699900;
      font-family: "Source Sans Pro", sans-serif; }
    .header .header-wrap div a.login {
      color: #fff;
      font-weight: 400;
      font-family: "Hind", sans-serif;
      letter-spacing: 0.2px;
      font-size: 1.2vw;
      padding-left: 10vw; }

main {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-bottom: 11.5vw;
  position: relative;
  color: #fff; }
  main .section_text {
    display: inline-block;
    margin: 3vh;
    font-size: 2.5vw;
    font-weight: 600;
    position: relative;
    color: #2c2f3c; }
    main .section_text::before {
      content: '';
      width: 11.25vw;
      height: 3vw;
      background: #14a0c7;
      z-index: -1;
      position: absolute;
      right: 0.66vw;
      bottom: 0.7vw; }
  main .section_card_wrap {
    width: 60vw;
    margin: auto; }
    main .section_card_wrap .section_card {
      background-color: #21232e;
      padding: 1vw;
      display: flex;
      margin-bottom: 2vh;
      border-radius: 5px; }
      main .section_card_wrap .section_card .section_card_img {
        border-radius: 5px;
        width: 100%;
        height: auto; }
      main .section_card_wrap .section_card .section_card_right_container {
        padding: 1.5vw 6.5vw 1.25vw 5vw; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 1.7vw;
          font-weight: 600;
          text-align: center;
          margin-bottom: 1vw; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif;
          letter-spacing: 1px;
          font-size: 0.95vw;
          text-align: justify;
          margin-bottom: 0.8vw;
          color: #e6e6e6; }
        main .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #e6e6e6;
          font-weight: 400;
          font-family: "Hind", sans-serif;
          letter-spacing: 0.2px;
          font-size: 1vw; }
  main .section_banner {
    background: linear-gradient(to right, #689523 0%, #2d5bd8 100%);
    width: 65vw;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 33;
    position: absolute;
    bottom: -15.5vw;
    left: 50%;
    transform: translate(-50%, 0); }
    main .section_banner .section_banner_text_wrap {
      text-align: left;
      margin: 1.7vw 6vw; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 1.7vw;
        font-weight: 700;
        position: relative;
        z-index: 2;
        margin-bottom: 0.8vw;
        color: #2c2f3c; }
        main .section_banner .section_banner_text_wrap .section_banner_heading::before {
          content: '';
          width: 3.64vw;
          height: 2.5vw;
          background: #14a0c7;
          z-index: -1;
          position: absolute;
          left: 6.85vw;
          bottom: 0.4vw; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        font-size: 0.87vw;
        font-family: "Hind", sans-serif;
        color: #e6e6e6;
        margin-bottom: 0.5vw;
        letter-spacing: 0.25px; }
    main .section_banner .section_banner_button {
      border: none;
      padding: 0.8vw 3vw;
      font-size: 1.25vw;
      font-weight: 600;
      color: #fff;
      background-color: #699900;
      font-family: "Source Sans Pro", sans-serif;
      margin: auto 6vw auto 0; }

footer {
  background-color: #21232e;
  font-family: "Hind", sans-serif;
  color: #e6e6e6;
  font-size: 1vw;
  /* max-width: 100vw; */ }
  footer .footer-wrap {
    display: grid;
    padding: 8vw 4.16vw 4.5vw 2vw;
    grid-template-columns: repeat(3, 25vw);
    justify-content: space-between; }
    footer .footer-wrap .footer_logo, footer .footer-wrap .footer_text, footer .footer-wrap .footer-cr {
      margin: auto; }
    footer .footer-wrap .footer_text, footer .footer-wrap .footer-cr {
      letter-spacing: 1px; }
