/*Your code goes here*/
body {
  color: #525252;
}
.shadow {
  box-shadow: 0 0.35rem 1.25rem rgba(0,0,0,.2);
}
.btn-primary {
  color: #fff;
  background-color: coral !important;
  border-color: coral !important;
} 
.btn-dark {
  padding: .375rem .75rem;
}
p {
  line-height: 1.5;
  letter-spacing: 0.75px;
}
.hero-text__tittle {
  font-size: 2.9rem;
}