* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(96.13deg, #F499E6 0%, #5B62F9 99.81%);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
}

.btn {
  padding: 1rem 2rem;
  color: #473D8B;
  background: rgba(230, 230, 230, 0.9);
  font-weight: 800;
}

.container {
  padding: 2rem 1.5rem;
}

.header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.question-container {
  text-align: center;
}

.question {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.answer-container {
  display: flex;
  justify-content: space-between;
}

.answer-container .answer-btn {
  /* display: inline-block; */
  padding: 1rem 0.5rem;
  height: 100px;
  width: 22vw;
  color: #FFF;
  background: #473D8B;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  outline: none;
}

.output-container {
  margin-top: 2rem;
  font-weight: 100;
  line-height: 1.65;
}

.final-section {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #FFF;
}

.hide {
  display: none;
}