$color: (
  highlighted: #14a0c7,
  button: #699900,
  background: #fff,
  section-footer: #21232e,
  text-secondary: #2c2f3c,
  text-primary: #fff,
  text-middle: darken(#fff, 10%),
);

$font-primary: 'Hind', sans-serif;
$font-secondary: 'Hind', sans-serif;
$font-original: 'Source Sans Pro', sans-serif;

$gradient: linear-gradient(to right, #689523 0%, #2d5bd8 100%);

$image: url(../img/m-h-day.jpg) no-repeat center center/cover;
