﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  background-image: url('../img/header-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .logo-image {
  width: 6rem;
}

nav {
  background-image: url('../img/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
}

.jumbotron {
  height: 80vh;
  background-color: transparent;
}

section {
  color: #333;
}

.divider {
  margin: 0.5rem auto 3.5rem;
  width: 50px;
  height: 2px;
  background-color: #333;
}

#works .divider {
  width: 35px;
}

#references .divider {
  width: 72px;
}

#contact .divider {
  width: 42px;
  margin-bottom: 0;
  background-color: #808080;
}

h3 {
  font-size: 1.3rem;
  color: #808080;
}

.service-item {
  color: #808080;
}

.btn-touch {
  display: block;
  margin: 2rem auto 1rem;
  padding: 1.5rem 6rem;
  cursor: pointer;
  background: url('../img/touch-bg.png') no-repeat center;
  text-align: center;
}

.bg-grey {
  background-color: #c4c4c4;
}

.bg-grey .grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  grid-gap: 40px 20px;
  grid-auto-flow: dense;
}

.grid-item {
  display: inline-block;
  color: #c4c4c4;
  font-size: 4rem;
}

.grid .item-1 {
  grid-row: row 1 / row 2;
  grid-column: col 1 / col 2;
}

.grid .item-2 {
  grid-row: row 1 / row 2;
  grid-column: col 2 / col 3;
}

.grid .item-3 {
  grid-row: row 1 / row 3;
  grid-column: col 3 / col 4;
}

.grid .item-4 {
  grid-row: row 2 / row 3;
  grid-column: col 1 / col 2;
}

.grid .item-5 {
  grid-row: row 2 / row 4;
  grid-column: col 2 / col 3;
}

.grid .item-6 {
  grid-row: row 3 / row 4;
  grid-column: col 1 / col 2;
}

.grid .item-7 {
  grid-row: row 3 / row 4;
  grid-column: col 3 / col 4;
}

.carousel-indicators li {
  height: 30px;
  border-radius: 50%;
  background-color: #62436f;
}

.carousel-indicators .active {
  background-color: #c0b4c5;
}

#references .carousel-item {
  padding: 0 12rem;
}

#references .img-container {
  flex: 0 1 35%;
  position: relative;
  margin-bottom: 10rem;
}

#references .add-img::after {
  content: '';
  display: block;
  width: 20vw;
  height: 15vw;
  position: absolute;
  bottom: -50px;
  left: -50px;
  background-image: url('../img/references-image-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

#references .info-container {
  flex: 0 1 65%;
  margin-left: 5rem;
}

#references .name {
  font-size: 2.5rem;
  margin-bottom: .2rem;
}

#references .info {
  color: #808080;
}

.carousel-inner {
  padding: 0 6rem;
}

.carousel-control-prev-icon,
.carousel-control-prev-icon {
  width: 35px;
  height: auto;
}

#contact {
  background: #000;
}

form {
  margin: 2rem 0;
}

.form-control {
  padding: 0.8rem 1rem;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: .75rem;
}

.form-control::placeholder {
  color: rgb(141, 141, 141);
}

.btn-form {
  display: block;
  margin: 2rem auto 1rem;
  padding: 1rem 4.5rem;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.15);
  cursor: pointer;
  border: none;
}

footer {
  background-image: url('../img/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

footer .logo-image {
  max-width: 7rem;
  height: auto;
}

footer .copy {
  font-size: .75rem;
}