:root {
  --primary-color: #76CDD8;
  --secondary-color: #019999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}

a { text-decoration: none; }
p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; font-weight: 500; }
li { list-style: none; }

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

img:hover {
  position: relative;
  z-index: 10;
  transform: scale(1.08);
}

.color-white { 
  color: #fff; 
  font-weight: 400;
}

.bg-color-primary {   background-color: var(--primary-color); }
.bg-color-secondary {   background-color: var(--secondary-color); }

.btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: rgb(118, 205, 216);
  border-color: rgb(118, 205, 216);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 30px auto 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-block {
  position: relative;
  background-color: #fff;
  min-height: 400px;
}

.second-block,
.third-block {
  background-color: #fff;
  margin: 2rem 0;
}

.first-block .flex-item {
  flex: 0 0 50%; 
}

.first-block .btn,
.second-block .btn {
  float: right;
}

.card-padding {
  padding: 3rem 4rem;
}

.card-heading {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.quote {
  font-size: 1.35rem;
  font-style: italic;
  display: block;
}

.card-heading-primary {
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.rounded-circle {
  height: 300px;
  width: 300px;
  margin-bottom: 1rem;
  background-image: url(../img/image-04.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.first-block:nth-child(odd):hover {
  color: var(--primary-color);
}

.first-block:nth-child(odd):hover::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 90px solid var(--primary-color);
  border-left: 90px solid transparent;
}

.first-block:nth-child(even):hover {
  color: var(--primary-color);
}

.first-block:nth-child(even):hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 90px solid var(--primary-color);
  border-right: 90px solid transparent;
}

.second-block .flex-item {
  flex: 0 0 67%;
  max-width: 67%;
}

.second-block .flex-item-img {
  flex: 0 0 33%;
  max-width: 33%;
}

.third-block .flex-item {
  flex: 0 0 33%;
}

.third-block .pricing-table {
  border: 1px solid var(--secondary-color);
  width: 100%;
  max-width: 340px;
}

.third-block .pricing-table:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.third-block .pricing-table:hover .special {
  display: block;
}

.third-block .pricing-table:hover .btn-primary {
  background-color: #24d4d4;
  border-color: var(--secondary-color);
}

.third-block .pricing-header {
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.third-block .pricing-header-title {
  font-size: 1.6rem;
}

.third-block .pricing-body {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-block .feature-list {
  line-height: 2.4rem;
  padding: 35px 50px;
}

.third-block .special {
  display: none;
  color: var(--primary-color);
}

.third-block .special-star {
  color: red;
}

.fourth-block {
  color: #fff;
}

.fourth-block .form-header {
  padding: 40px 40px 90px;
  flex: 0 0 100%;
}

.fourth-block .footer {
  flex: 0 0 100%;
  z-index: -2;
}

.fourth-block .form-container {
  flex: 0 0 100%;
  max-width: 100%;
}

.fourth-block .inner-container {
  justify-content: center;
  margin: 0 auto;
  max-width: 880px;
}

.fourth-block .contact-form {
  margin: 0 auto;
  max-width: 880px;
  padding: 68px;
  margin-top: -60px;
  margin-bottom: -60px;
  z-index: 3;
  background: #fff;
}

.contact-form .flex-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-form select {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #666;
}

.form-group {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 1.5rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  font-size: 1.2rem;
  padding: 12px 20px;
}

.form-control:focus,
select:focus {
  border-color: #24d4d4;
  background: #fff;
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none;
}


.footer .flex {
  padding: 100px 180px 50px 100px;
  justify-content: space-between;
}

.copy-block {
  padding-top: 1.5rem;
}