:root {
  --primary-color: #76CDD8;
  --secondary-color: #019999;
}

.tm-card:nth-child(odd):hover {
  color: var(--primary-color);
}

.tm-card:nth-child(odd):hover::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 90px solid var(--primary-color);
  border-left: 90px solid transparent;
}

.tm-card:nth-child(even):hover {
  color: var(--primary-color);
}

.tm-card:nth-child(even):hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 90px solid var(--primary-color);
  border-right: 90px solid transparent;
}

.tm-col-md-reverse {
  flex-direction: row-reverse;
}

.tm-bg-color-primary {
  background-color: var(--primary-color);
}

.tm-text-color-primary {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: rgb(118, 205, 216);
  border-color: rgb(118, 205, 216);
}

.img-fluid:hover {
  position: relative;
  z-index: 10;
  transform: scale(1.08);
}

section[class~=tm-mb-30] {
  margin-bottom: 20px;
}

.tm-pricing-table {
  border-color: var(--secondary-color);
}

.tm-pricing-table:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-pricing-table:hover .tm-pricing-discount {
  display: block;
}
.tm-pricing-discount__star {
  color: red;
}
.tm-pricing-discount__text {
  color: var(--primary-color);
}

.tm-pricing-table:hover .btn-secondary {
  background-color: #24d4d4;
  border-color: var(--secondary-color);
}

.tm-bg-color-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.tm-form-header {
  background-color: var(--primary-color);
  
}

.tm-contact-form {
  margin-top: -60px;
  margin-bottom: -60px;
  z-index: 2;
}

.form-control:focus,
select:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none;
}